@using pj3_ui.Models.Career;

@model IEnumerable<CareerModel>

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body>

    <nav id="breadcrumbs" class="breadcrumbs">
        <div class="container page-wrapper">
            <span>Home</span> » <span class="breadcrumb_last" aria-current="page">Career</span>          
        </div>
    </nav>

    <div class="container">
        @{
            foreach(var item in Model)
            {
                <div class="card mt-5 border-5 pt-2 active pb-0 px-3">
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-12 ">
                                <h4 class="card-title "><b>@item.Title</b></h4>
                            </div>
                            <div class="col">
                                <h6 class="card-subtitle mb-2 text-muted">
                                    <p class="card-text text-muted small ">
                                        @item.ShortDescription
                                    </p>
                                </h6>
                            </div>
                        </div>

                    </div>

                    <div class="card-footer bg-white px-0 ">
                        <div class="row">

                            <div class=" col-md-auto ">
                                <small>@item.TimeStart.ToString("dd/MM/yyyy") - @item.TimeStart.ToString("dd/MM/yyyy")</small>

                                <span class="vl ml-3"></span>

                                <small>@item.Position</small>

                                <span class="vl ml-3"></span>

                                <small>Price: @item.Price $</small>


                                <div>
                                    <button class="btn btn-success btnApply" data-id=@item.ID id="btnApply">Apply For Job</button>
                                    <button class="btn btn-success btnDetail" id="btnDetail" data-id="@item.ID">More Information</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                
            }
        }
        
    </div>
</body>

<!-- Template CSS -->
<link rel="stylesheet" href="~/assets/css/style-starter.css">
<!-- JS -->
<script src="~/js/Career/Index.js"></script>
